.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.section {
  margin-top: 72px;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/Hero.jpg");
  width: 100%;
  height: 100vh;
}

@media only screen and (min-resolution: 192dpi) {
  .section {
    background-image: url("../../assets/img/Hero_2x.jpg");
  }
}

.wrapper {
  position: absolute;
  left: 64px;
  top: 260px;
}

.title {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.67;
  color: #f7f7f7;
}

.description {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  color: #f7f7f7;
}

.btn {
  display: inline-block;
  padding: 16px 60px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  border-radius: 200px;
  background-color: #e44848;
  transition: background-color 0.5s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #d84343;
}
