.card {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #fff;
  max-width: 888px;
}

.image {
  border-radius: 10px;
  display: block;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstLine {
  display: flex;
  justify-content: space-between;
}
.name,
.price {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.priceWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.isFavoriteBtn {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

.isFavoriteBtn:hover,
.isFavoriteBtn:focus {
  outline: none;
}

.iconHeart {
  height: 24px;
  width: 24px;
}
.iconHeart.isActive {
  fill: #e44848;
}

.location {
  display: flex;
  column-gap: 16px;
  margin-top: 8px;
  padding: 0;
}

.locationItem {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.iconStar {
  height: 16px;
  width: 16px;
  fill: #ffc531;
}
.iconMap {
  height: 16px;
  width: 16px;
}

.description {
  overflow: hidden;
  color: #475467;
  text-overflow: ellipsis;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.btn {
  display: inline-block;
  max-width: 86px;
  padding: 16px 60px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  border-radius: 200px;
  background-color: #e44848;
  transition: background-color ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #d84343;
  color: #fff;
}
